
.active {
    font-weight: 500;
    background: rgba(67, 88, 117, 0.05);
    width: 248px;
    padding-left: 12px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    text-decoration: none;
}

.linkWrapper {
    width: 248px;
    padding-left: 12px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius: 6px;
}

.linkWrapper:hover{
    background: rgba(67, 88, 117, 0.05);
}

.linkText {
    font-size: 14px;
    color: #435875;
}
