.codeBlock{
    margin: 22px 0 22px 0;
    width: 100%;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    padding: 22px 0px 22px 26px;
    background: rgba(67, 88, 117, 0.05);
}

.codeBlock_line{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 4px;
    background: #8E9EB5;
    height: 100%;
}

.codeBlock button{
    width: 40px;
    height: 40px;
    background: rgba(67, 88, 117, 0.08);
    border: 0;
    border-radius: 0px 0px 0px 6px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.codeBlock button:hover {
    background: rgba(67, 88, 117, 0.20);
}

code{
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    color: #435875;
    line-height: 18px;
}