body {
  margin: 0 !important;
  background-color: #F9FAFF;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.app-container{
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
}